* {
    /* box-sizing: border-box; */
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Poppins', sans-serif;
}

h1 {
    font-size: 50px;
}

.name {
    color: darkorange;
}

.flex {
    display: flex;
    /* margin-top: 10px; */
}

.one {
    width: 40%;
    float: left;
    margin-left: 5%;
    padding-left: 2%;
}

.one img {
    width: 100%;
}

.p1 {
    text-align: justify;
}

.button {
    text-decoration: none;
    background: linear-gradient(45deg, lightsalmon, tomato);
    padding: 10px 40px;
    border-radius: 5px;
    color: white;
    font-weight: 700;
    margin-top: 10px;

    /* background-image: linear-gradient(orange, tomato);
    padding: 10px, 30px;
    height: 50px;
    width: 100px;
    color: whitesmoke;
    font-weight: 700;
    border-radius: 10px;
    margin-left: 10px;
     text-align: center; 
    display: grid;
    justify-content: center;
    align-items: center; */

}

.button a {
    text-decoration: none;

    /* margin-top: 30px;
    margin-left: 20px; */

}

.top-banner {
    background-image: url(developer-portfolio-master/images/top-banner.png);
    background-repeat: no-repeat;
}

.side-banner {
    background-image: url(developer-portfolio-master/images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
}

.box-shadow {
    width: 40%;
    margin-left: 5%;
    margin-right: 5%;
    border-radius: 10px;
    box-shadow: 10px 10px 10px rgb(222, 222, 222);


}


.experiance {
    background-image: url(developer-portfolio-master/images/exp-bg.png);
    background-repeat: no-repeat;
    background-position: left;
}

#full {
    border-left: 7px solid;
    border-image: linear-gradient(blue, cyan);
    border-image-slice: 1;
}

#mern {
    border-left: 7px solid;
    border-image: linear-gradient(red, pink);
    border-image-slice: 1;
}

.footer {
    background-color: black;
    padding-top: 50px;
    padding-bottom: 50px;


}

.foot {
    text-align: center;
    color: white;
}